body {
  background-color: whitesmoke;
}

#site {
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  background-position: top;
  height: 84vh;
  background-repeat: no-repeat;
  border: 3px solid rgb(0% 12.16% 24.71%);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
  opacity: 90%;
}

.main-navbar {
  align-items: flex-end;
}

#logo {
  font-size: 4rem;
  font-weight: 800;
  font-family: "Abril Fatface", serif;
  color: rgb(0% 12.16% 24.71%);
}

.coin {
  width: 3.4rem;
  padding-bottom: 8px;
  filter: invert(10%) sepia(59%) saturate(1803%) hue-rotate(187deg) brightness(99%) contrast(105%);
}

#question {
  font-size: 1.5rem;
  font-family: "Abril Fatface", serif;
  color: rgb(0% 12.16% 24.71%);

}

#question:hover {
  color: rgb(22.75% 42.75% 54.9%);
}

.text-panel {
  background-color: whitesmoke;
  border-radius: 25px;
  border: 3px solid rgb(0% 12.16% 24.71%);
  width: 100%;

  margin-top: 20px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 500;
  padding: 20px;
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .container {
    width: 670px;
  }
  
}

@media (min-width: 992px) {
  .container {
    width: 670px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 700px;
  }
}


.button-descript {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  color: black;

}

#quote {
  font-size: 1.4rem;
  font-weight: 900;

}

.hideShow {
  display:none;
  /*  change this with JavaScript to flex*/
  flex-direction: column;
  height: 100%;
  width: 60%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  font-family: "Source Sans 3", sans-serif;
  background-color: whitesmoke;
  color: rgb(0% 12.16% 24.71%);
  border: 3px solid rgb(0% 12.16% 24.71%);
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 40px;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
@media (max-width: 768px) {
  .hideShow {
    width: 100%;
  }
}
.hideShow  p{
  font-size: 1.3rem;
}

.hideShow  li{
  font-size: 1.3rem;
}

.close-button{
  color:rgb(0% 12.16% 24.71%);
  position:relative;
  left:90%;
  margin-bottom: 40px;
}

.close-button:hover{
  color:rgb(3, 101, 199);
}

@media (max-width: 700px) {
  .container {
    width: 470px;
  }
  .text-panel{
    font-size: 1rem;
  }
  #quote{
    font-size: 1rem;
  }
  #logo {
    font-size: 2rem;
    font-weight: 800;
    font-family: "Abril Fatface", serif;
    color: rgb(0% 12.16% 24.71%);
  }
  .coin {
    width: 2rem;
    padding-bottom: 8px;
    filter: invert(10%) sepia(59%) saturate(1803%) hue-rotate(187deg) brightness(99%) contrast(105%);
  }

  #question {
    font-size: 1.2rem;
    font-family: "Abril Fatface", serif;
    color: rgb(0% 12.16% 24.71%);
  }
.button-descript{
  font-size: 1rem;
}

.btn{
  padding: 5px;
}

}

@media (max-width: 500px) {

  .container {
    width: 300px;
  }
  .text-panel{
    font-size: 0.8rem;
  }
  #quote{
    font-size: 0.8rem;
  }
  
  .site{
    margin-left: 1px;
    margin-right: 1px;
    width:100%;

  }
  #logo {

    font-size: 1.5rem;
    font-weight: 800;
    font-family: "Abril Fatface", serif;
    color: rgb(0% 12.16% 24.71%);
  }
  .coin {
    width: 1.5rem;
    padding-bottom: 8px;
    filter: invert(10%) sepia(59%) saturate(1803%) hue-rotate(187deg) brightness(99%) contrast(105%);
  }

  #question {
    font-size: 0.8rem;
    font-family: "Abril Fatface", serif;
    color: rgb(0% 12.16% 24.71%);
  }
.button-descript{
  font-size: 0.8rem;
}
.btn{
  padding: 1px;
  font-size: 1rem;
}

}

@media (max-width: 350px) {

  .container {
    width: 280px;
  }
}